flows_hassbian.json
[{"id":"b64f70ec.e2e9c","type":"tab","label":"poort","disabled":false,"info":""},{"id":"67d3f589.e6f2ac","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"91e47f73.d514","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"3911ed4b.f3e182","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"dee41663.043bf8","type":"tab","label":"codeklavier","disabled":false,"info":""},{"id":"83cc9df2.8b541","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"db787cdb.507ca","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"b001a497.ec6af8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ba0e960.6b02a","type":"ui_tab","z":"","name":"Poortbediening","icon":"dashboard","disabled":false,"hidden":false},{"id":"94662ee2.88f4d","type":"ui_group","z":"","name":"Inkompoort Alain ","tab":"8ba0e960.6b02a","disp":true,"width":"6","collapse":false},{"id":"4f25408d.fbc774","type":"alexa-config","z":"","url":"/alexa","name":"test"},{"id":"17fc7bec.f32ffc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4bca50b.5dc74f","type":"alexa-home-conf","z":"","username":"petervdk"},{"id":"e19942fa.aa779","type":"mqtt-broker","z":"","name":"petervdk","broker":"192.168.1.3","port":"1883","clientid":"noderedrasp","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"807b30aa.71cb","type":"ui_tab","z":"","name":"Living","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ecc4bb61.e123a","type":"ui_link","z":"","name":"http://www.standaard.be","link":"","icon":"open_in_browser","target":"newtab","order":3},{"id":"dbc0b3ed.bc45c","type":"sonos-config","z":"","name":"playbar","ipaddress":"192.168.1.5","port":""},{"id":"135f0c57.2b75c4","type":"better-sonos-config","z":"","name":"Playbarstatus","serialnum":"00-0E-58-B3-D7-AA:6","ipaddress":""},{"id":"e15d1639.058a18","type":"mqtt-broker","z":"","broker":"192.168.1.63","port":"1883","clientid":"testclient1","usetls":false,"compatmode":true,"keepalive":"160","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1b1e631f.4953bd","type":"ui_group","z":"","name":"Codeklavier","tab":"a65d456f.142578","order":5,"disp":true,"width":"6","collapse":false},{"id":"a65d456f.142578","type":"ui_tab","z":"","name":"Code klavier","icon":"dashboard","disabled":false,"hidden":false},{"id":"c97e6524.032368","type":"sonospollytts-config","z":"","name":"peter"},{"id":"beab9dec.011c3","type":"sonospollytts-config","z":"","name":"bb"},{"id":"db8f77ef.79bf08","type":"blynk-ws-client","z":"db787cdb.507ca","name":"blynk cloud server","path":"wss://blynk-cloud.com/websockets","key":"*******","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":true,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"24d721ad.245cfe","type":"ui_group","z":"","name":"G2","tab":"7ab9d461.fe17ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"6ed2b812.80c708","type":"ui_group","z":"","name":"G1","tab":"7ab9d461.fe17ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"7ab9d461.fe17ac","type":"ui_tab","z":"","name":"LAB","icon":"dashboard"},{"id":"700cb21f.f0d1ec","type":"ui_text","z":"b64f70ec.e2e9c","group":"94662ee2.88f4d","order":2,"width":"6","height":"1","name":"txt-Poorstatus-info","label":"","format":"{{msg.payload}} ","layout":"row-center","x":610,"y":60,"wires":[]},{"id":"ee3671c8.29961","type":"inject","z":"b64f70ec.e2e9c","name":"Takepicture","topic":"/home/takepicture","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["56ae2cdf.3b42a4"]]},{"id":"56ae2cdf.3b42a4","type":"usbcamera","z":"b64f70ec.e2e9c","filemode":"1","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"3","name":"RPIUSBcamera","x":430,"y":200,"wires":[["cd8738e7.313968"]]},{"id":"a9448e25.29cd1","type":"ui_template","z":"b64f70ec.e2e9c","group":"94662ee2.88f4d","name":"","order":3,"width":"6","height":"6","format":"<div style=\"margin-bottom:40px;\">\n <img src=\"{{msg.payload}}\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":260,"wires":[[]]},{"id":"825ecbf1.96f2f8","type":"ui_button","z":"b64f70ec.e2e9c","name":"","group":"94662ee2.88f4d","order":0,"width":0,"height":0,"passthru":true,"label":"Take picture","tooltip":"refresh picture","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"/dev/buttonpicture","x":110,"y":280,"wires":[["56ae2cdf.3b42a4"]]},{"id":"cd8738e7.313968","type":"function","z":"b64f70ec.e2e9c","name":"refreshimage","func":"\nvar value = \"1\";\n// or overwrite value in your callback function ...\n\n\nfunction updateF() {\n  var source = '/image01.jpg',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  msg.payload = newUrl\n}\n\n\nupdateF()\nreturn msg\n\n\n","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["a9448e25.29cd1","a97ad95d.7c7408"]]},{"id":"a97ad95d.7c7408","type":"debug","z":"b64f70ec.e2e9c","name":"dbgurl","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":840,"y":120,"wires":[]},{"id":"1efaa164.f3b18f","type":"rpi-gpio out","z":"91e47f73.d514","name":"","pin":"16","set":true,"level":"1","freq":"","out":"out","x":590,"y":160,"wires":[]},{"id":"732c0f64.b012b","type":"inject","z":"91e47f73.d514","name":"","topic":"on","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["1efaa164.f3b18f","c4b47c56.0fa86","9ad35965.bc6d58"]]},{"id":"817e2cfa.f2a46","type":"inject","z":"91e47f73.d514","name":"","topic":"off","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["1efaa164.f3b18f","c4b47c56.0fa86"]]},{"id":"c4b47c56.0fa86","type":"debug","z":"91e47f73.d514","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":240,"wires":[]},{"id":"5131daf3.c23894","type":"rpi-gpio in","z":"91e47f73.d514","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":140,"y":340,"wires":[["c4b47c56.0fa86","d974607f.070a4"]]},{"id":"7a94fa7.4a43504","type":"rpi-gpio in","z":"91e47f73.d514","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":140,"y":420,"wires":[["c4b47c56.0fa86","d974607f.070a4"]]},{"id":"9ad35965.bc6d58","type":"alexa-home-resp","z":"91e47f73.d514","x":600,"y":80,"wires":[]},{"id":"d974607f.070a4","type":"sonos-control","z":"91e47f73.d514","playnode":"dbc0b3ed.bc45c","name":"","mode":"play","track":"next","volume":"","volume_value":"","x":540,"y":460,"wires":[]},{"id":"d441729a.462bc","type":"rpi-gpio out","z":"3911ed4b.f3e182","name":"GPIO25 On Raspberry","pin":"22","set":true,"level":"0","out":"out","x":620,"y":120,"wires":[]},{"id":"a85d933a.db7cb","type":"inject","z":"3911ed4b.f3e182","name":"On","topic":"/dev/onbutton","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":94,"y":101.84001159667969,"wires":[["d441729a.462bc","e78c1f03.72c4d","626c510e.4267b"]]},{"id":"ce7c9764.f21528","type":"inject","z":"3911ed4b.f3e182","name":"Off","topic":"/dev/offbutton","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":88,"y":200.83999633789062,"wires":[["d441729a.462bc","e78c1f03.72c4d"]]},{"id":"e78c1f03.72c4d","type":"debug","z":"3911ed4b.f3e182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":583,"y":184.9199981689453,"wires":[]},{"id":"3325656.826389a","type":"mqtt in","z":"3911ed4b.f3e182","name":"MQTT Button1","topic":"/button/switchbutton","qos":"0","datatype":"auto","broker":"e15d1639.058a18","x":113,"y":334.8399963378906,"wires":[["d441729a.462bc","e78c1f03.72c4d","626c510e.4267b"]]},{"id":"626c510e.4267b","type":"mqtt out","z":"3911ed4b.f3e182","name":"statusrelais","topic":"/status/relais","qos":"0","retain":"","broker":"e15d1639.058a18","x":615,"y":328.0299987792969,"wires":[]},{"id":"269ac16f.878d8e","type":"mqtt in","z":"b64f70ec.e2e9c","name":"MQTT poortstatus","topic":"/status/poort","qos":"2","datatype":"auto","broker":"e19942fa.aa779","x":160,"y":40,"wires":[["700cb21f.f0d1ec","8c8ad8b0.2052d8"]]},{"id":"8c8ad8b0.2052d8","type":"debug","z":"b64f70ec.e2e9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":20,"wires":[]},{"id":"b17ed618.c9dee8","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 1","order":1,"width":"2","height":"2","format":"<md-button  style=\"background-color:#333333\" ng-click=\"send({payload: '1' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">1</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":130,"y":140,"wires":[["e67064d.8e4a498"]]},{"id":"b8bf1f5f.805","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 6","order":6,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '6' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">6</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":410,"y":180,"wires":[["e67064d.8e4a498"]]},{"id":"b3ef2574.a9e2c8","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 3","order":3,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '3' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">3</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":410,"y":140,"wires":[["e67064d.8e4a498"]]},{"id":"cf135f88.b7ace","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 4","order":4,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '4' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">4</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":130,"y":180,"wires":[["e67064d.8e4a498"]]},{"id":"96314bd6.03ed78","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 5","order":5,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '5' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">5</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":270,"y":180,"wires":[["e67064d.8e4a498"]]},{"id":"f204b4.9f86ab5","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 7","order":7,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '7' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">7</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":130,"y":220,"wires":[["e67064d.8e4a498"]]},{"id":"b1e2764e.910218","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 2","order":2,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '2' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">2</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":270,"y":140,"wires":[["e67064d.8e4a498"]]},{"id":"c1237ce0.a589f","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 8","order":8,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '8' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">8</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":270,"y":220,"wires":[["e67064d.8e4a498"]]},{"id":"67174630.45d258","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 9","order":9,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '9' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">9</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":410,"y":220,"wires":[["e67064d.8e4a498"]]},{"id":"91e51070.110e3","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key *","order":10,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '*' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">*</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":130,"y":260,"wires":[["e67064d.8e4a498"]]},{"id":"6be2853a.b56dbc","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key 0","order":11,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '0' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">0</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":270,"y":260,"wires":[["e67064d.8e4a498"]]},{"id":"dc6a7a4c.feb988","type":"ui_template","z":"dee41663.043bf8","group":"1b1e631f.4953bd","name":"Key #","order":12,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '#' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n   <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 130px; font-family: Arial;\">#</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":410,"y":260,"wires":[["e67064d.8e4a498"]]},{"id":"f4433087.a2e4d","type":"ui_text","z":"dee41663.043bf8","group":"1b1e631f.4953bd","order":13,"width":0,"height":0,"name":"keys pressed","label":"Number:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":140,"wires":[]},{"id":"e67064d.8e4a498","type":"function","z":"dee41663.043bf8","name":"code entry","func":"var key = msg.payload;\nvar out = context.get(\"code\") || \"\";\n\nif (key === \"#\") {\n    key = \"\"; // send code\n}\nelse if (key === \"*\") {\n    key = \"\"; // reset code\n    out = \"\";\n}\nelse if (!isNaN(+key)) {\n    out += key; // append key\n}\ncontext.set(\"code\", key ? out : undefined);\n\n// output #1: keys entered\n// output #2: completed code\nmsg.payload = out;\nreturn [\n    key ? msg : {payload: \"\"},\n    out ? msg : null\n];","outputs":2,"noerr":0,"x":590,"y":200,"wires":[["f4433087.a2e4d"],["73659113.105"]],"outputLabels":["last key number","completed code"]},{"id":"73659113.105","type":"debug","z":"dee41663.043bf8","name":"code entered","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":630,"y":260,"wires":[]},{"id":"43507663.1a8e28","type":"mqtt in","z":"67d3f589.e6f2ac","name":"temperatuur","topic":"/home/temperatuur","qos":"0","datatype":"auto","broker":"e15d1639.058a18","x":375,"y":240,"wires":[["4e837512.c7f19c","397f5c6a.1f3464"]],"l":false},{"id":"4e837512.c7f19c","type":"ui_gauge","z":"67d3f589.e6f2ac","name":"Temperatuur","group":"94662ee2.88f4d","order":5,"width":"6","height":"3","gtype":"gage","title":"Temperatuur","label":"graden Celcius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"35","x":645,"y":180,"wires":[],"l":false},{"id":"397f5c6a.1f3464","type":"ui_chart","z":"67d3f589.e6f2ac","name":"Tempchart","group":"94662ee2.88f4d","order":7,"width":"6","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"55","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":615,"y":300,"wires":[[]],"l":false},{"id":"4f907673.b69d08","type":"inject","z":"83cc9df2.8b541","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[["584f2d53.912d54"]]},{"id":"584f2d53.912d54","type":"function","z":"83cc9df2.8b541","name":"Sample function 1","func":"// The simplest way\nmsg.payload=\"Benvenuti,Wilkommen,Wellcome!\";\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["e536abe5.eebfc8"]]},{"id":"e536abe5.eebfc8","type":"sonospollytts","z":"83cc9df2.8b541","name":"","voice":"18","ssml":false,"dir":"/tmp","sonosipaddress":"192.168.1.109 ","sonosvolume":"25","sonoshailing":"1","noderedipaddress":"192.168.1.3","noderedport":"1880","config":"beab9dec.011c3","x":590,"y":160,"wires":[[]],"icon":"node-red/leveldb.png"},{"id":"f5f34491.1f45f8","type":"inject","z":"83cc9df2.8b541","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["6a45a2f5.96460c"]]},{"id":"6a45a2f5.96460c","type":"function","z":"83cc9df2.8b541","name":"Sample function 2","func":"// Set the Volume\nmsg.volume=\"60\"; // If not set, will take the volume from setting page\nmsg.payload=\"Benvenuti,Wilkommen,Wellcome!\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["e536abe5.eebfc8"]]},{"id":"66ec2df3.4e1c74","type":"inject","z":"83cc9df2.8b541","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["eb345fcf.5078a"]]},{"id":"eb345fcf.5078a","type":"function","z":"83cc9df2.8b541","name":"Sample function 3","func":"// Create an array of messages\nvar aMessages=[];\n// Add random messages\naMessages.push({volume:\"50\",payload:\"Benvenuti.\"});\n// Wheater in Italy\naMessages.push({volume:\"40\",payload:\"http://media.ilmeteo.it/audio/2018-03-31.mp3\"});\n// Add random messages\naMessages.push({volume:\"30\",payload:\"Cambia la tua voce nei settaggi.\"});\nreturn [aMessages];\n","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["e536abe5.eebfc8"]]},{"id":"956b09d3.282e88","type":"inject","z":"83cc9df2.8b541","name":"Hello World","topic":"","payload":"Ciao Mondo! Come stai?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":160,"wires":[["e536abe5.eebfc8"]]},{"id":"3dff2f14.517c5","type":"comment","z":"83cc9df2.8b541","name":"PUSH THE BUTTONS!","info":"","x":220,"y":120,"wires":[]},{"id":"1e21ee15.76eea2","type":"ui_text_input","z":"b001a497.ec6af8","name":"","label":"","group":"24d721ad.245cfe","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":370,"y":360,"wires":[[]]},{"id":"1380daef.1e24c5","type":"inject","z":"b001a497.ec6af8","name":"1 - number","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":320,"wires":[["1e21ee15.76eea2"]]},{"id":"2039f85c.115ae8","type":"inject","z":"b001a497.ec6af8","name":"","topic":"","payload":"string 2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["1e21ee15.76eea2"]]},{"id":"666204ac.501d8c","type":"inject","z":"b001a497.ec6af8","name":"3 - string","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["1e21ee15.76eea2"]]},{"id":"af6d1bd2.be1b08","type":"ui_text_input","z":"b001a497.ec6af8","name":"","label":"","tooltip":"","group":"6ed2b812.80c708","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":380,"y":120,"wires":[[]]},{"id":"c700161c.57db78","type":"inject","z":"b001a497.ec6af8","name":"string 1","topic":"","payload":"string 1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":80,"wires":[["af6d1bd2.be1b08","e6fe1173.d52a2"]]},{"id":"2752209f.56e08","type":"inject","z":"b001a497.ec6af8","name":"string 2","topic":"","payload":"string 2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["af6d1bd2.be1b08","e6fe1173.d52a2"]]},{"id":"a5611e8a.c14f3","type":"inject","z":"b001a497.ec6af8","name":"string 3","topic":"","payload":"string 3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["af6d1bd2.be1b08","e6fe1173.d52a2"]]},{"id":"d8d054b5.ed86c8","type":"inject","z":"b001a497.ec6af8","name":"2 - number","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":500,"wires":[["1e21ee15.76eea2"]]},{"id":"e6fe1173.d52a2","type":"ui_button","z":"b001a497.ec6af8","name":"","group":"6ed2b812.80c708","order":8,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":220,"wires":[[]]},{"id":"9267f008.2d3f6","type":"debug","z":"b64f70ec.e2e9c","name":"","active":true,"console":"false","complete":"payload","x":790,"y":360,"wires":[]},{"id":"e53976a9.25af18","type":"function","z":"b64f70ec.e2e9c","name":"countseconds","func":"var count=context.get('count') || 0;\nvar starttime=context.get('starttime') || 0;\nvar timediff=context.get('timediff') || 0;\nvar msg1 = {payload:null};\nvar msg2 = {payload:null};\nvar currentDate = new Date();\nvar date = currentDate.getDate();\nvar month = currentDate.getMonth(); //Be careful! January is 0 not 1\nvar year = currentDate.getFullYear();\n\n// var dateString = date + \"-\" +(month + 1) + \"-\" + year;\nvar dateString = new Date().toLocaleDateString(undefined, {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n\tminute: '2-digit',\n\tsecond: '2-digit'\n});\n\nif ( count === 0 )\n{\n    starttime = Date.now();\n    context.set('starttime',starttime);\n}\nif ( count === 2 )\n{\n    count = 0;\n    starttime = Date.now();\n    timediff = 0;\n}\nif (msg.payload === 'pushpoortopen')\n{\ncount +=1;\ntimediff = Date.now() - context.get('starttime');\ntimediff = Math.floor(timediff/1000);\n    if (count === 1)\n    {\n    msg1.payload = \" Poort opening  \" ;\n    msg1.date = dateString ;\n    msg2.payload = \" Sluit poort \";\n    } \n    if (count === 2)\n    {\n    msg1.payload = \" Poort open, draaitijd: \" + timediff + \" seconden\";\n    msg1.date = dateString ;\n    msg2.payload = \" Sluit poort \";\n    } \n}\nif (msg.payload === 'pushpoortdicht')\n{\ncount +=1;\ntimediff = Date.now() - context.get('starttime');\ntimediff = Math.floor(timediff/1000);\n    if (count === 1)\n    {\n    msg1.payload = \" Poort closing  \" ;\n    msg1.date = dateString ;\n    msg2.payload = \" Open poort \";\n    } \n    if (count === 2)\n    {\n    msg1.payload = \" Poort gesloten, draaitijd : \" + timediff  + \" seconden\";\n    msg1.date = dateString ;\n    msg2.payload = \" Open poort \";\n    } \n}\nif (starttime === 0)\n{ \n    starttime = Date.now();\n    context.set('starttime',starttime);\n    \n}\n\ncontext.set('count',count);\n\nreturn [msg1, msg2];\n","outputs":2,"noerr":0,"x":500,"y":400,"wires":[["9267f008.2d3f6","877a7c7b.2f842","c2b56ed9.0ef","e71c82d1.b48ee"],["51c0517a.ff59c","1c62f58e.5c09aa"]]},{"id":"67ff7a21.db8eb4","type":"comment","z":"b64f70ec.e2e9c","name":"Count how long opening or closing","info":"check ","x":569,"y":461.4800109863281,"wires":[]},{"id":"23c06d42.e880f2","type":"rpi-gpio in","z":"b64f70ec.e2e9c","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":90,"y":380,"wires":[["7a1d827c.cb508c"]]},{"id":"7a1d827c.cb508c","type":"change","z":"b64f70ec.e2e9c","name":"triggerpoortopen(ing)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pushpoortopen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":380,"wires":[["e53976a9.25af18"]]},{"id":"808557b3.30a398","type":"rpi-gpio in","z":"b64f70ec.e2e9c","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":90,"y":500,"wires":[["3aa40981.3e9e36"]]},{"id":"3aa40981.3e9e36","type":"change","z":"b64f70ec.e2e9c","name":"triggerpoortdicht","rules":[{"t":"set","p":"payload","pt":"msg","to":"pushpoortdicht","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":500,"wires":[["e53976a9.25af18"]]},{"id":"877a7c7b.2f842","type":"mqtt out","z":"b64f70ec.e2e9c","name":"MQTT /status/poort","topic":"/status/poort","qos":"","retain":"true","broker":"e19942fa.aa779","x":850,"y":440,"wires":[]},{"id":"5ab737cf.7782b8","type":"ui_button","z":"b64f70ec.e2e9c","name":"","group":"94662ee2.88f4d","order":8,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}} ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":560,"wires":[[]]},{"id":"5e38b108.8cefd","type":"mqtt in","z":"b64f70ec.e2e9c","name":"","topic":"/status/action","qos":"2","datatype":"auto","broker":"e19942fa.aa779","x":120,"y":580,"wires":[["5ab737cf.7782b8"]]},{"id":"b4d61460.40c428","type":"inject","z":"b64f70ec.e2e9c","name":"","topic":"Open","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":340,"wires":[["7a1d827c.cb508c"]]},{"id":"f314e643.6a8e68","type":"inject","z":"b64f70ec.e2e9c","name":"","topic":"Dicht","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":440,"wires":[["3aa40981.3e9e36"]]},{"id":"51c0517a.ff59c","type":"mqtt out","z":"b64f70ec.e2e9c","name":"MQTT /status/action","topic":"/status/action","qos":"","retain":"true","broker":"e19942fa.aa779","x":860,"y":500,"wires":[]},{"id":"c2b56ed9.0ef","type":"debug","z":"b64f70ec.e2e9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"date","targetType":"msg","x":780,"y":400,"wires":[]},{"id":"e71c82d1.b48ee","type":"ui_text","z":"b64f70ec.e2e9c","group":"94662ee2.88f4d","order":2,"width":"6","height":"1","name":"txt-laatst-geopend","label":"","format":"{{msg.date}} ","layout":"row-center","x":630,"y":100,"wires":[]},{"id":"1c62f58e.5c09aa","type":"debug","z":"b64f70ec.e2e9c","name":"","active":true,"console":"false","complete":"payload","x":790,"y":620,"wires":[]}]